# Chặn mọi thư mục node_modules dù nó nằm ở đâu (root hay apps/libs)
**/node_modules/
**/.pnp*

# Chặn mọi thư mục build cũ
**/dist/
**/coverage/
**/build/

# Bỏ qua lịch sử Git và cấu hình CI
.git/
.github/
.svn/

# Bỏ qua cache của Nx Monorepo từ máy host
.nx/
.eslintcache

# Bỏ qua các file môi trường ảo và log
.env
deploy.log
npm-debug.log*