# Database
POSTGRES_USER=postgres
POSTGRES_PASSWORD=changeme
POSTGRES_MULTIPLE_DATABASES=admin_mod_db,auth_db,chat_db,order_db,product_db

# PgAdmin
PGADMIN_DEFAULT_EMAIL=admin@example.com
PGADMIN_DEFAULT_PASSWORD=changeme

# Backend
DB_HOST=postgres
DB_PORT=5432
DB_USER=postgres
DB_PASS=changeme